@font-face {
    font-family: "roboto-medium";
    src: url(/fonts/roboto-medium-webfont.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto-medium", Arial,Helvetica Neue,Helvetica,sans-serif;
}

body {
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    'sidebar header'
    'sidebar main';
}

ul {
    list-style: none;
}

.main-content {
    background-color: #e1e8f0;
    grid-area: main;
}

aside {
    background-color: #1892d3;
    grid-area: sidebar;
}

header {
    background-color: #ffffff;
    grid-area: header;
}