@font-face {
    font-family: "roboto-medium";
    src: url(/fonts/roboto-medium-webfont.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto-medium", Arial,Helvetica Neue,Helvetica,sans-serif;
}

body {
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}